<div class="row columns">
  <div class="title-action">
    <h2 class="title-action__title section-heading">
      Głosowania Jawne
    </h2>
  </div>
</div>

<div class="row">
  <div class="columns">
    <div class="card-grid">
      <% votings.each do |voting| %>
        <div class="card card--voting">
          <div class="card__content">
            <div class="card__header">
              <%= link_to voting_path(voting), class: "card__link" do %>
                <h5 class="card__title">
                  <%= voting.title["pl"] %>
                </h5>
              <% end %>
            </div>
            <div class="card__text">
              <div class="card__text--paragraph">
                <%= decidim_sanitize_editor_admin(voting.description["pl"]) %>
              </div>
            </div>
            <div class="card__status">
              <% if voting.active? %>
                <span class="card__status-label success">
                  Aktywne
                </span>
              <% elsif voting.upcoming? %>
                <span class="card__status-label warning">
                  Nadchodzące
                </span>
              <% else %>
                <span class="card__status-label alert">
                  Zakończone
                </span>
              <% end %>
            </div>
            <div class="card__footer">
              <div class="card__footer-status">
                <div class="card__footer--data">
                  <span class="card__footer--label">Data zakończenia:</span>
                  <span class="card__footer--text"><%= l voting.end_date, format: :long %></span>
                </div>
                <div class="card__footer--data">
                  <span class="card__footer--label">Głosy:</span>
                  <span class="card__footer--text">
                    <% if voting.finished? || !voting.secret? %>
                      <%= voting.votes.count %>
                    <% else %>
                      Ukryte
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card__footer">
            <div class="card__buttons">
              <%= link_to voting_path(voting), class: "card__button button button--sc small" do %>
                Zobacz szczegóły
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div> 