<div class="row column">
  <%= form.translated :text_field, :title, autofocus: true %>
</div>

<div class="row column">
  <%= form.translated :editor, :description %>
</div>

<div class="row">
  <div class="columns xlarge-6">
    <%= form.datetime_field :start_date %>
  </div>

  <div class="columns xlarge-6">
    <%= form.datetime_field :end_date %>
  </div>
</div>

<div class="row column">
  <%= form.check_box :secret %>
</div> 